
###> symfony/framework-bundle ###
.env.dist
/#work/
/.idea/
/example/
/var/
/vendor/
###< symfony/framework-bundle ###

###> symfony/web-server-bundle ###
.web-server-pid
###< symfony/web-server-bundle ###
