{% extends "/backend/layout.html.twig" %}

{% block main %}
    <h1 class="text-center no-margin">ACCUEIL ETAI</h1>
    {% if 'ROLE_ADMIN' in userRoles %}
        {% include 'transmissions/soin.html.twig' %}
        {% include 'transmissions/educative.html.twig' %}
        {% include 'transmissions/generale.html.twig' %}
    {% elseif 'ROLE_EDUCATEUR' in userRoles %}
        {% include 'transmissions/generale.html.twig' %}
        {% include 'transmissions/educative.html.twig' %}
    {% elseif 'ROLE_SOIGNANT' in userRoles %}
        {% include 'transmissions/generale.html.twig' %}
        {% include 'transmissions/educative.html.twig' %}
        {% include 'transmissions/soin.html.twig' %}
    {% endif %}
{% endblock %}