{% extends "/backend/layout.html.twig" %}

{% block main %}

    <div class="row">
        <div class="col-xs-12 col-sm-offset-2 col-sm-8 col-md-offset-3 col-md-6 col-lg-offset-4 col-lg-3">
            <h1>Identifiez-vous</h1>
            <form action="{{ path('login') }}" method="post">
                <div class="form-group">
                    <label for="username">Nom d'utilisateur</label>
                    <input type="text" name="_username" class="form-control" id="username" placeholder="Nom d'utilisateur">
                </div>
                <div class="form-group">
                    <label for="exampleInputPassword1">Mot de passe</label>
                    <input type="password" name="_password" class="form-control" id="exampleInputPassword1" placeholder="Mot de passe">
                </div>
                <div class="checkbox">
                    <label>
                        <input type="checkbox" id="remember_me" name="_remember_me"> Se souvenir de moi
                    </label>
                </div>
                <button type="submit" class="btn btn-primary">Se connecter</button>
            </form>
            {% if error %}
                <h4 class="pad bg-danger">{{ error.messageKey|trans(error.messageData, 'security') }}</h4>
            {% endif %}
        </div>

    </div>


{% endblock %}